* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

nav {
    width: 90%;
    height: 40px;
    padding: 5px 5%;

    top: 0;
    position: fixed; 

    background-color: white;
    box-shadow: 0 0 20px gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    margin-top: 60px;
    padding: 5px 12%;

    text-align: center;
}

header h1, p {
    margin-bottom: 20px;
}

section {
    padding: 5px 12%;
    color: white;
}

article {
    margin-top: 20px;
    padding: 20px 5px;
    text-align: center;
    background-color: gray;
}

article h4, ul {
    margin-bottom: 20px;
}