* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 60px;
    padding: 10px 10%;

    top: 0;
    position: fixed; 

    background-color: white;
    box-shadow: 0 0 20px gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    border: 1px solid black;

    width: 40px;
    border-radius: 6px;
}

.navbar__menu:hover {
    background-color: black;
    color: white;
    transition: all 300ms ease-in-out;
}

.navbar__menu__content {
    display: none;
    position: absolute;

    top: 40px;
    right: 5%;
    z-index: 1;
    width: 100px;
    border-radius: 6px;

    background-color: white;
    box-shadow: 0 0 20px gray;
}

.navbar__menu__content__links {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10% 20%;
}

.navbar__menu__content__links a {
    text-decoration: none;
    color: black;
}


.navbar__menu:hover .navbar__menu__content{
    display: block;
    transition: all 3s ease-in-out;
}

.navbar__menuHorizontal {
    display: none;

    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__menuHorizontal a {
    color: black;
    text-decoration: none;
}

/* Footer */
.footer {
    width: 100%;
    height: 60px;
    padding: 10px 5%;

    bottom: 0;
    position: fixed;

    color: white;
    background-color: black;
    box-shadow: 0 0 20px gray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.footer__container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer__container a {
    color: white;
    text-decoration: none;
}

/* INDEX PAGE */
/* Hero */
.hero {
    padding: 0 10%;
    margin-top: 80px;
    text-align: center;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.hero img {
    width: 80%;
    margin: 10px 0;
    justify-self: center;
}

/* Features */
.features {
    text-align: center;
    padding: 0 10%;
}

.features__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.singleFeature {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.singleFeature i {
    width: 60%;

    align-self: center;
    grid-row: 1 / 2 span;
    grid-column: 1 / 2;

}

.singleFeature h4, p {
    text-align: left;
}

/* Download */
.download {
    text-align: center;
    padding: 0 10%;
    margin-bottom: 60px;
}

.download__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.download__link {
    width: 45%;
    height: auto;
}

.download__link img {
    width: 100%;
}

/* ABOUT PAGE */
.about {
    padding: 0 10%;
    margin-top: 80px;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.about img {
    width: 100%;
    border-radius: 6px;
}

.about h1 {
    text-align: center;
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* Navbar */
    .navbar__menu {
        display: none;
    }

    .navbar__menuHorizontal {
        display: flex;
    }

    /* INDEX PAGE */
    /* Hero */
    .hero img {
        width: 80%;

        justify-self: center;
        grid-row: 1 / 2 span;
        grid-column: 1 / 1;
    }

    .hero h1 {
        text-align: left;

        grid-row: 1;
        grid-column: 2;
        align-self: center;
    }

    .hero p {
        text-align: left;

        grid-row: 2;
        grid-column: 2;
    }

    /* Features */
    .features__container {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 80px;
    }

    .singleFeature i {
        align-self: start;
    }

    /* Download */
    .download__container {
        justify-content: space-evenly;
    }

    .download__link {
        width: 20%;
    }

    /* ABOUT PAGE */
    .about {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 40px;
    }

    .about img {
        width: 100%;
        border-radius: 6px;
    }

    .about h1 {
        justify-self: start;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Navbar */
    .navbar__menu {
        display: none;
    }

    .navbar__menuHorizontal {
        display: flex;
    }

    /* INDEX PAGE */
    /* Hero */
    .hero img {
        width: 80%;

        justify-self: center;
        grid-row: 1 / 2 span;
        grid-column: 1 / 1;
    }

    .hero h1 {
        text-align: left;

        grid-row: 1;
        grid-column: 2;
        align-self: center;
    }

    .hero p {
        text-align: left;

        grid-row: 2;
        grid-column: 2;
    }

    /* Features */
    .features__container {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 80px;
    }

    .singleFeature i {
        align-self: start;
    }

    /* Download */
    .download__container {
        justify-content: space-evenly;
    }

    .download__link {
        width: 20%;
    }

    /* ABOUT PAGE */
    .about {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 40px;
    }

    .about img {
        width: 100%;
        border-radius: 6px;
    }

    .about h1 {
        justify-self: start;
    }
}

/* 4K */
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    /* Navbar */
    .navbar__menu {
        display: none;
    }

    .navbar__menuHorizontal {
        display: flex;
        width: 25%;
    }

    /* Footer */
    .footer__container {
        width: 25%;
    }

    /* INDEX PAGE */
    /* Hero */
    .hero img {
        width: 30%;

        justify-self: center;
        grid-row: 1 / 2 span;
        grid-column: 1 / 1;
    }

    .hero h1 {
        text-align: left;

        grid-row: 1;
        grid-column: 2;
        align-self: center;
    }

    .hero p {
        text-align: left;

        grid-row: 2;
        grid-column: 2;
    }

    /* Features */
    .features__container {
        grid-template-columns: auto auto auto;
        column-gap: 80px;
    }

    .singleFeature i {
        align-self: start;
    }

    .singleFeature p {
        align-self: start;
    }

    /* Download */
    .download__container {
        justify-content: space-evenly;
    }

    .download__link {
        width: 10%;
    }

    /* ABOUT PAGE */
    .about {
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 40px;
    }

    .about img {
        height: 100%;
        border-radius: 6px;
    }

    .about h1 {
        justify-self: start;
    }
}