@keyframes bodyColor {
    0% {
        background-color: #ef32d9;
    }

    50% {
        background-color: #00dbde;
    }

    100% {
        background-color: #ef32d9;
    }
}

@keyframes shadowColor {
    0% {
        box-shadow: 0 0 15px #ef32d9;
    }

    50% {
        box-shadow: 0 0 15px #00dbde;
    }

    100% {
        box-shadow: 0 0 15px #ef32d9;
    }
}

@mixin animationDetailsLetters {
    animation-name: bodyColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@mixin animationDetailsShadow {
    animation-name: shadowColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@mixin safeZone {
    padding: 0 10%;
    margin-top: 24px;
    margin-bottom: 90px;

    /* Tablet */
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        padding: 0 15%;
    }

    /* Laptop */
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        padding: 0 15%;
    }

    /* Desktop */
    @media only screen and (min-width: 1440px) and (max-width: 2559px) {
        padding: 0 20%;
    }

    /* 4K */
    @media only screen and (min-width: 2560px) {
        padding: 0 25%;
    }
}