/* Navbar */
.custom-navbar {
    background-color: black !important;

    @include animationDetailsShadow;
}

.custom-navbar i {
    color: white !important; 
}

.navbar-nav a{
    color: white !important;
}