.contact {
    @include safeZone;

    &__title {
        @include titleAndDescription;
    }

    &__form {
        input, select, textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 2px 10px;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) { 

}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) { 

}

/* Desktop */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {

 
}

/* 4K */
@media only screen and (min-width: 2560px) {

  
}