/* Hero */
.hero {
    padding: 0 10%;
    margin-top: 40px;
    text-align: center;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    h1 {
        animation-name: bodyColor;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }

    img {
        width: 80%;
        margin: 10px 0;
        justify-self: center;
    }

    p {
        font-style: italic;
    }
}

/* Download */
.download {
    text-align: center;
    padding: 0 10%;
    margin-bottom: 80px;

    h2 {
        font-weight: 900;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        width: 45%;
        height: auto;

        img {
            width: 100%;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* Hero */
    .hero {
        img {
            width: 80%;
    
            justify-self: center;
            grid-row: 1 / 2 span;
            grid-column: 1 / 1;
        }

        h1 {
            text-align: left;
    
            grid-row: 1;
            grid-column: 2;
            align-self: center;
        }

        p {
            text-align: left;
    
            grid-row: 2;
            grid-column: 2;
        }
    }

    /* Download */
    .download {
        &__container {
            justify-content: space-evenly;
        }
    
        &__link {
            width: 20%;
        }
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Hero */
    .hero {
        img {
            width: 80%;
    
            justify-self: center;
            grid-row: 1 / 2 span;
            grid-column: 1 / 1;
        }
    
        h1 {
            text-align: left;
    
            grid-row: 1;
            grid-column: 2;
            align-self: center;
        }
    
        p {
            text-align: left;
    
            grid-row: 2;
            grid-column: 2;
        }
    }

    /* Download */
    .download {
        &__container {
            justify-content: space-evenly;
        }
    
        &__link {
            width: 20%;
        }
    }
}

/* 4K */
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    /* Hero */
    .hero {
        img {
            width: 30%;
    
            justify-self: center;
            grid-row: 1 / 2 span;
            grid-column: 1 / 1;
        }
    
        h1 {
            text-align: left;
    
            grid-row: 1;
            grid-column: 2;
            align-self: center;
        }
    
        p {
            text-align: left;
    
            grid-row: 2;
            grid-column: 2;
        }
    }

    /* Download */
    .download {
        &__container {
            justify-content: space-evenly;
        }
    
        &__link {
            width: 10%;
        }
    }
}